= provide :title, t(".index")
.container
  .text-center
    %h1= t ".index"
    %div{class: "container pagination justify-content-center"}
      = paginate @users, theme: "twitter-bootstrap-4",
        pagination_class: "pagination-sm"

  %br
    .li= content_tag :th, sort_link(@search, :id, t(".sort_id"))
    .li= content_tag :th, sort_link(@search, :name, t(".sort_name"))

  %ul.users
    = render @users
